.nav {
  display: flex;
  justify-content: space-around;
}

.kaufland {
  flex: 2;
  background: linear-gradient(to right, rgb(184, 12, 9), rgb(251, 251, 255));
  font-size: 2.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.settings {
  flex: 1;
  justify-content: flex-end;
}

.option {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  padding: 15px 14px;
  margin: 0;
}

.option:hover {
  background: rgb(255, 127, 80);
  box-shadow: 0 0 30px -10px rgb(4, 15, 22);
}

.input {
  color: rgb(251, 251, 255);
  background: transparent;
  border: 0px solid;
  outline: none;
  font-size: 1rem;
}

.label {
  color: rgb(251, 251, 255);
  font-size: 1rem;
}
