.schedule {
  border-collapse: collapse;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(251, 251, 255);
}

.row:hover {
  background-color: rgb(255, 127, 80);
}

.col {
  justify-content: flex-start;
}
