.store {
  counter-increment: index;
  color: rgb(251, 251, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  box-sizing: border-box;
}

.store::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 127, 80),
    rgb(184, 12, 9)
  );
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.store + .store {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
